.title_container{
display: flex;
justify-content: center;

}
.title{
    display:inline-block;
    background-color: gray;
    color: black;
    justify-content: center;
    padding:0px 20px;
    border-radius: 10px;

}
.heading h2{
    font-weight: bold;
    color: red;
}
.box_first > h2>i{
    color: aqua;
    font-weight: bold;

}
.box_sec>h1{
    color:red;
    font-weight: bold;
    margin-bottom: 50px;
}
.box_sec li{
    color: darkred;
    font-family:courier;
    font-size: 120%;
   
}
.box_sec mark{
    color: darkred;
    /* color: red; */
}
.box_third p:nth-of-type(1) {
    font-size: large;
    color: brown;
    font-weight: bold;
}
.box_third p:nth-of-type(2){
    color: brown;
    font-size: xx-small;
}
.box_third p:nth-of-type(3){
    color: brown;
    font-weight: bold;
    /* font-style: italic; */
}
.link a{
 text-decoration: none;
 color: rgb(128, 4, 4);
 background-color: yellow;
}

/* mark { 
  background-color: aqua;
  color: black;
} */